
$card-bg: #{$body-bg-color};
$card-radius: #{12px};
$card-border: #{$color-gray-200};

.card {
    border: 1px solid $card-border;
    overflow: hidden;
    position: relative;
    transition: all .3s ease;
    box-shadow: $shadow-lg;
    border-radius: $card-radius;
    background-color: $card-bg;

    &:hover {
        box-shadow: $shadow-md;
    }

    &-content {
        padding: 24px 18px;
    }

    &-title {
        font-size: $font-2xl;
        font-weight: $font-bold;
    }

    &-img {
        width: 100%;
        height: auto;
    }

    &-text {
        margin-bottom: 24px;
    }
}