
$input-bg-color: $body-bg-color;
$input-text-color: $color-gray-200;

$input-border-color: $color-gray-300;
$input-focus-border-color: $color-gray-400;

.input {
    width: 100%;
    color: $input-text-color;
    border: 1px solid $input-border-color;
    padding: 10px 18px;
    outline: 0;
    font-size: $font-md;
    transition: all .2s ease;
    font-weight: $font-medium;
    line-height: $leading-normal;
    padding-right: 24px;
    border-radius: 4px;
    background-color: $input-bg-color;

    &::placeholder {
        color: $input-text-color;
        opacity: .5;
        pointer-events: none;
    }
    
    &:focus {
        border-color: $input-focus-border-color;
    }
}