.navbar {
    height: 64px;
    padding: 8px 16px;
    @include flex (row, nowrap, space-between, center, 16px);

    &-brand {
        height: 60px;
    }

    &-links {
        gap: 16px;
        display: flex;
        align-items: center;
        color: $heading-text-color;
    }
}