.fondo-bio {
    background-image: url(../assets/img/fondo-contacto.jpg);
    background-size: cover;
    background-position: center;
}

.bio-section {
    @include flex (column, center, center, 40px);
    padding: 2.5rem;

    .bio-h2 {
        color: $color-primary;
    }

    .bio-contenedor {
        @include flex (column, center, center, 30px);
        text-align: center;
        background-color: rgba($color: $color-gray-700, $alpha: .6);
        border-radius: 12px;

        .biografia-card {

            h3 {
                color: $color-secondary;
                
            }
        } 
    }
}



