.bio-section {
    @include flex (column, center, center, 40px);
    padding: 2.5rem;

    .bio-h2 {
        text-decoration: underline;
    }

    .bio-contenedor {
        @include flex (column, center, center, 30px);
        text-align: center;
    }
}



