.fondo-contactos {
    background-image: url(../assets/img/fondo-contacto.jpg);
    background-size: cover;
    background-position: center;
}

.contactos-section {
    @include flex (column, center, center, 20px);

    &-contenedor {
        @include flex (row, center, start, 0);
        height: 70%;

        &-h3 {
            background-color: rgba($color: $body-bg-color, $alpha: .6);
            color: $body-text-color;
            text-align: center;
            height: 100%;
            padding: 30px;
        }

        &-form {
            @include grid (1fr 1fr, 1fr 1fr 1fr 1fr, "nombre email" "asunto asunto" "mensaje mensaje" "mensaje mensaje");
            gap: 30px;
            background-color: rgba($color: $color-gray-100, $alpha: .6);
            padding: 60px 20px;
            height: 100%;
            border-radius: 0 50px 0 0;

            .input-nombre {
                grid-area: nombre;
            }

            .input-email {
                grid-area: email;
            }

            .input-asunto {
                grid-area: asunto;
            }

            .input-mensaje {
                grid-area: mensaje;

            }

            .btn-submit {
                border: 2px solid transparent;
                cursor: pointer;
                padding: 12px 32px;
                outline: 0;
                font-size: $font-md;
                text-align: center;
                transition: all .2s ease;
                font-weight: $font-medium;
                line-height: $leading-none;
                user-select: none;
                text-transform: none;
                text-decoration: none;

                color: $body-text-color;
                border-color: transparent;
                border-radius: 15px;
                background-color: $color-gray-800;

                // Estados
                &:hover {
                    color: $color-gray-100;
                    background-color: $color-gray-600;
                }

                &:active {
                    transform: scale3d(.95 .95 .1);
                }
            }
        }
    }
}