.fondo-elPlan {
    background-image: url(../assets/img/fondo-elPlan.jpg);
    background-size: cover;
    background-position: center;
}

.elPlan__section {
    @include flex (column, center, center, 20px);
    margin-bottom: 5vh;

    &-container {
        @include grid (1fr, none, "video" "cards");
        width: 100%;
        place-items: center;
        gap: 1.25rem;

        .container-video {
            grid-area: video;
            width: 100%;

            iframe {
                width: 100%;
                height: 60vh;
                border-radius: 12px;
            }
        }

        .cards {
            grid-area: cards;
            @include grid (1fr 1fr 1fr 1fr, none, none);
            gap: 1.25rem;
            width: 100%;

            .card {

                &:hover {
                    background-color: rgba($color: $color-secondary, $alpha: .6);
                }
                img {
                    height: 75%;
                }
            }
        }
    }
}