
.section-contenedor {
    @include flex (column, nowrap, center, center, 40px);

    h2{
        margin: 0 auto;
        text-align: center;
    }
    .card {
        background-color: rgba($color-gray-600, $alpha: .7);
        padding: .625rem 6.25rem;
        box-shadow: $shadow-xl;
    }
}

