
.section-contenedor {
    @include flex (column, center, center, 40px);

    .card {
        background-color: rgba($color-gray-600, $alpha: .7);
        padding: .625rem 6.25rem;
        box-shadow: $shadow-xl;
    }
}

