@media (max-width: 320px) {
    .navbar {
        justify-content: center;
        font-size: $font-xl;
        height: auto;
        flex-direction: column;

        &-links {
            flex-direction: column;
        }
    }

    ;

    .base {
        &-content {
            margin-top: 40vh;

            .index__section {
                gap: 5px;

                p {
                    display: none;
                }

                &-links {
                    flex-direction: column;
                    gap: 40px;
                }
            }

            .elPlan__section {
                &-container {
                    gap: 1.875rem;

                    .container-video {
                        iframe {
                            height: 40vh;
                        }
                    }

                    .cards {
                        grid-template-columns: 1fr;
                    }
                }
            }

            .contactos-section {

                &-contenedor {
                    flex-direction: column;
                }
            }
        }
    }

}