@media (max-width: 768px) {
    .navbar {
        justify-content: center;
        font-size: $font-xl
    };

    .base {
        &-content {
            .index__section {
                gap: 10px;

                &-links {
                    gap: 40px;
                }
            }

            .elPlan__section {
                &-container {
                    .cards {
                        grid-template-columns: 1fr 1fr;
                    }
                }
            }

            .contactos-section {
                &-contenedor {
                    @include flex (column, center, center, 0);

                    &-h3 {
                        width: 100%;
                    }

                    &-form {
                        @include grid (1fr, 1fr 1fr, "nombre" "email" "asunto" "mensaje");
                        width: 100%;
                        border-radius: 0;
                    }
                }
            }
        }
    }

}